# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript incremental build cache
*.tsbuildinfo
tsconfig.node.tsbuildinfo
tsconfig.tsbuildinfo

# Vite temp files
vite.config.d.ts
vite.config.js

# Editor & OS files
.DS_Store
.idea/
.vscode/
Thumbs.db
